{% extends 'home/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'post/css/post_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">

        <!-- postlist -->
        <div class="col-lg-8">
            <!-- posts -->
            {% for post in post_list %}
            <div class="row border-bottom">
                <div class="col-sm-4">
                    <a class="btn"><img class="rounded" width="200px" height="200px" src="{{post.thumbnail.url}}"></a>
                </div>
                <div class="col-sm-8 pt-2">
                    <div class="card border-0 justify-content-end">
                        <h5 class="card-tile text-post-title">{{post.title}}</h5>
                        <small>By {{post.author}} - {{post.created}}</small>
                        <p class="card-post-text text-post-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                        <a class="text-post-content" href="{% url 'post_detail' post.slug %}">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end posts -->

            <!-- pagination -->
            <nav class="mt-2">
                <div class="row">
                    <div class="col d-flex justify-content-start">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-link text-post-content" href="?page={{ page_obj.paginator.previous_page_number }}">Previous</a>
                        {% endif %}
                    </div>
                    <div class="col d-flex justify-content-end">
                        {% if page_obj.has_next %}
                        <a class="btn btn-link text-post-content" href="?page={{ page_obj.paginator.next_page_number }}">Next</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <!-- end pagination -->
        </div>
        <!-- end postlist -->

        <!-- sidebar -->
        <div class="col-lg-4 border-left p-2">

            <!-- categories -->
            <div class="row m-1 pb-2">
                <div class="col">
                    <h5 class="text-post-title">Categories</h5>
                    {% for cat in category_list %}
                    <a class="btn btn-dark btn-block rounded" href="{% url 'category_detail' cat.slug %}">{{cat.name}}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- end categories -->

            

        </div>
        <!-- end sidebar -->

    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}