{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block link %}
<link rel="stylesheet" href="{% static 'post/css/post_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row">

        <!-- postlist -->
        <div class="col-lg-12">

            <form class="form-group" method="POST">
                
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}

                <button class="btn btn-success btn-sm mt-2" type="submit">Post</button>
            </form>

        </div>
        <!-- end postlist -->

    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}